/obj
/bin/Debug/net7.0
/bin/Debug/net6.0
/.vs
/.vscode
/bin
/Backup/SimpleLanguage.csproj
/Backup/SimpleLanguage.sln
/UpgradeLog.htm
/source/clang/Makefile
/source/clang/Makefile.simple
/source/clang/README.md
/source/clang/build.sh
/source/clang/include/define.h
/source/clang/include/lexer.h
/source/clang/include/meta_base.h
/source/clang/include/meta_class.h
/source/clang/include/node.h
/source/clang/include/parser.h
/source/clang/include/simple_language.h
/source/clang/include/token.h
/source/clang/include/vm.h
/source/clang/include/vm_object.h
/source/clang/src/main.c
/source/clang/src/meta_base.c
/source/clang/src/node.c
/source/clang/src/token.c
/source/clang/src/vm_object.c
/source/clang/test/test_basic.c
/source/VM/bin
/source/VM/obj
/source/Lib/obj
/source/Lib/bin
/source/Log/obj
/source/Log/bin
/source/Front/obj
/source/Front/bin
/source/CLangdll/x64
/x64
/out/export/module.package.json
/source/Front/out/export/module.package.json
/source/Front/SimpleLanguageFront.csproj.Backup.tmp
/artifacts/vmbuild/SimpleLanguageLog.deps.json
/artifacts/vmbuild/SimpleLanguageLog.dll
/artifacts/vmbuild/SimpleLanguageLog.exe
/artifacts/vmbuild/SimpleLanguageLog.pdb
/artifacts/vmbuild/SimpleLanguageLog.runtimeconfig.json
/artifacts/vmbuild/SimpleLanuageVM.deps.json
/artifacts/vmbuild/SimpleLanuageVM.dll
/artifacts/vmbuild/SimpleLanuageVM.exe
/artifacts/vmbuild/SimpleLanuageVM.pdb
/artifacts/vmbuild/SimpleLanuageVM.runtimeconfig.json
/artifacts
/out
/source/Front/out
/source/Front/Lib/Core/DebugCode
/source/Test/bin
/source/Test/obj
/source/Front/Lib/Core/Export/SLVMCode/module.json
/source/Test/BaseTest/NumberTest
/source/Test/BaseTest/ObjectTest
/source/Test/BaseTest
/test/BaseTest/ObjectTest
/test/BaseTest/ArrayTest
/test/BaseTest/GlobalTest
/test/BaseTest/NumberTest
/tools/ExtractLogs/obj
/tools/ExtractLogs/bin
/test/BaseTest/AssignStatement/Code.txt
/test/BaseTest/AssignStatement/File.txt
/test/BaseTest/AssignStatement/Node.txt
/test/BaseTest/AssignStatement/Token.txt
/test/BaseTest/AssignStatement/IR.txt
/test/BaseTest/AssignStatement/Meta.txt
/test/BaseTest/BoolTest/Code.txt
/test/BaseTest/BoolTest/File.txt
/test/BaseTest/BoolTest/Node.txt
/test/BaseTest/BoolTest/Token.txt
